# ======================
# Backend
# ======================
backend/venv/
Sentiment-Analysis-/venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
.env

# HuggingFace cache
.cache/
huggingface/
*.bin
*.safetensors

# ======================
# Frontend
# ======================
node_modules/
dist/
build/

# Vite
.vite/

# ======================
# OS
# ======================
.DS_Store
Thumbs.db